<p>
  <strong>Name:</strong><br/>
  <%= @goal.name %>
</p>
<p>
  <strong>Description:</strong><br/>
  <%= @goal.description %>
</p>
<p>
  <strong>Ends at:</strong><br/>
  <%= format_date(@goal.ends_at, :mdy) || '(no end date)' %>
</p>

<hr/>
<div>
  <h3>Milestones</h3>
  
  <div id="goal-milestones-container">
    <% if @goal.milestones.empty? %><div id="no-milestones-message">(there are no milestones yet)</div><% end %>
    <%= render :partial => 'milestones/milestone', :collection => @goal.milestones %>
  </div>  
</div>
<hr/>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
